<%= render 'beehive/shared/page_header', title: 'Edit taxon' do %>
  <%= content_for :body do %>
    <p>Edit <%= @taxon.decorate %> taxon</p>
  <% end %>
<% end %>

<div class="bh-page-content">
  <%= render 'beehive/admin/settings/taxons/form' %>
</div>
