<%= render 'beehive/shared/page_header', title: 'New taxonomy' do %>
  <%= content_for :body do %>
    <p>Create new taxonomy</p>
  <% end %>
<% end %>

<div class="bh-page-content">
  <%= render 'beehive/admin/settings/taxonomies/form' %>
</div>
